################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/MVVMWpfTest/MVVMWpfTest/bin/Debug
/MVVMWpfTest/MVVMWpfTest/obj
/WpfMVVMChart/WpfMVVMChart/bin/Debug
/WpfMVVMChart/WpfMVVMChart/obj
/DynamicPieChartMVVMPrism/DynamicPieChartMVVMPrism/obj/Debug
/DynamicPieChartMVVMPrism/DynamicPieChartMVVMPrism/bin/Debug
/DynamicPieChartMVVMPrism/.vs/DynamicPieChartMVVMPrism/v16/Server/sqlite3/db.lock
/.vs/
/DynamicPieChartMVVMPrism/.vs/
/DynamicPieChartMVVMPrism/DynamicPieChartMVVMPrism/obj
