################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/MVVMWpfTest/MVVMWpfTest/bin/Debug
/MVVMWpfTest/MVVMWpfTest/obj
/WpfMVVMChart/WpfMVVMChart/bin/Debug
/WpfMVVMChart/WpfMVVMChart/obj
/DynamicPieChartMVVMPrism/DynamicPieChartMVVMPrism/obj
/DynamicPieChartMVVMPrism/DynamicPieChartMVVMPrism/bin
/PrismMVVM_wpfControlPopertyChangeWithButton/bin
/PrismMVVM_wpfControlPopertyChangeWithButton/obj
bin
obj
.vs

